apiVersion: "cilium.io/v2"
kind: CiliumLoadBalancerIPPool
metadata:
  name: "pool-1"
spec:
  allowFirstLastIPs: "No"
  blocks:
{% for range in k8_cluster_lb_address_range %}
  - start: "{{ range.start }}"
    stop: "{{ range.stop }}"
{% endfor %}
