hubble:
  relay:
    enabled: true
  ui:
    enabled: true
kubeProxyReplacement: true
k8sServiceHost: "{{ k8_cluster_controlplane_endpoint | default(inventory_hostname) }}"
k8sServicePort: "{{ k8_cluster_controlplane_endpoint_port }}"
{% if k8_cluster_lb == 'cilium' %}
l2announcements:
  enabled: true
externalIPs:
  enabled: true
k8sClientRateLimit:
  qps: {{ k8_cluster_lb_qps }}
  burst: {{ k8_cluster_lb_burst }}
{% endif %}
{% if k8_cluster_ingress == 'cilium' %}
ingressController:
  enabled: true
  loadbalancerMode: shared
  default: true
{% endif %}
