apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: pool-1
  namespace: metallb-system
spec:
 {% if k8_cluster_lb_addresses is iterable %}
  addresses:
  {% for r in k8_cluster_lb_addresses %}
  - {{ r }}
  {% endfor %}
  {% else %}
  addresses:
  - {{ k8_cluster_lb_addresses }}
  {% endif %}