apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ argocd_application_name }}
  namespace: argocd
spec:
  project: default
  source:
    repoURL: {{ argocd_application_repourl }}
    targetRevision: {{ argocd_application_ref }}
    path: {{ argocd_application_path | default('apps') }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ argocd_application_namespace }}
