apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ argocd_application_name }}
  namespace: argocd
spec:
  project: default
  source:
    repoURL: {{ argocd_application_repourl }}
    targetRevision: {{ argocd_application_ref }}
{% if argocd_application_path is defined %}
    path: {{ argocd_application_path }}
{% endif %}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ argocd_application_namespce }}
