---
- name: Add metallb chart repo
  kubernetes.core.helm_repository:
    name: metallb
    repo_url: https://metallb.github.io/metallb
    kubeconfig: "/home/{{ ansible_user }}/.kube/config"
- name: Deploy latest version of metallb
  kubernetes.core.helm:
    name: metallb
    chart_ref: metallb/metallb
    create_namespace: true
    release_namespace: metallb-system
    kubeconfig: "/home/{{ ansible_user }}/.kube/config"
- debug:
  msg: "{{ lookup('template', 'metallb.yml.j2') | from_yaml }}"
- name: Configure ip address pool
  kubernetes.core.k8s:
    kubeconfig: "/home/{{ ansible_user }}/.kube/config"
    definition: "{{ lookup('template', 'metallb.yml.j2') | from_yaml }}"
    state: present
- name: Enable l2 advertisement
  kubernetes.core.k8s:
    kubeconfig: "/home/{{ ansible_user }}/.kube/config"
    definition: "{{ lookup('file', 'metallb-l2.yml) | from_yaml }}"