---
# install
# add cluster
# add applications


- name: Install argocd
  when: inventory_hostname == groups['controlplane'][0]
  tags:
    - install
  block:
    - name: Add namespace
      kubernetes.core.k8s:
        kubeconfig: "/home/{{ ansible_user }}/.kube/config"
        name: argocd
        api_version: v1
        kind: Namespace
        state: present
    - name: Download argocd server manifest to the cluster.
      ansible.builtin.get_url:
        url: "{{ argocd_install_url }}"
        dest: /tmp/argocd.yml
        mode: '0664'

    - name: Apply argocd server manifest to the cluster.
      kubernetes.core.k8s:
        kubeconfig: "/home/{{ ansible_user }}/.kube/config"
        state: present
        src: /tmp/argocd.yml
        namespace: argocd

- name: Configure argocd
  when: inventory_hostname == groups['controlplane'][0]
  tags:
    - config
  block:
    - name: Copy application manifest
      ansible.builtin.template:
        src: application.yml.j2
        dest: /tmp/application.yml

    - name: Apply application
      kubernetes.core.k8s:
        kubeconfig: "/home/{{ ansible_user }}/.kube/config"
        state: present
        src: /tmp/application.yml
