---
- name: Add cillium chart repo
  kubernetes.core.helm_repository:
    name: cilium
    repo_url: https://helm.cilium.io/
    kubeconfig: "/home/{{ ansible_user }}/.kube/config"

- name: Deploy latest version of cillium
  kubernetes.core.helm:
    name: cilium
    chart_ref: cilium/cilium
    release_namespace: kube-system
    kubeconfig: "/home/{{ ansible_user }}/.kube/config"
    values:
      hubble:
        relay:
          enabled: true
        ui:
          enabled: true
      kubeProxyReplacement: true
      k8sServiceHost: {{ k8_cluster_controlplane_endpoint | default(inventory_hostname) }}
      k8sServicePort: {{ k8_cluster_controlplane_endpoint_port }}
      

