---
- name: Restart containerd
  ansible.builtin.systemd:
    name: containerd
    daemon_reload: true
    state: started
    enabled: true

- name: Restart kubelet
  ansible.builtin.systemd:
    name: kubelet
    daemon_reload: true
    state: started
    enabled: true
- name: Reboot
  ansible.builtin.reboot:
